openapi: 3.0.3

info:
  title: ShopSphere E-Commerce API
  version: 1.0.0
  description: REST APIs for ShopSphere Microservices Platform

servers:
  - url: https://api.shopsphere.com/v1

tags:
  - name: Authentication
  - name: Products
  - name: Cart
  - name: Orders
  - name: Payments
  - name: Notifications

paths:

  /login:
    post:
      tags:
        - Authentication
      summary: User Login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: Login Successful
        "401":
          description: Invalid Credentials

  /register:
    post:
      tags:
        - Authentication
      summary: Register User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        "201":
          description: User Created

  /products:
    get:
      tags:
        - Products
      summary: List Products
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Product List

  /products/{id}:
    get:
      tags:
        - Products
      summary: Get Product Details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product Details

  /search:
    get:
      tags:
        - Products
      summary: Search Products
      parameters:
        - name: keyword
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Search Results

  /cart:
    get:
      tags:
        - Cart
      summary: View Cart
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Cart Details

    post:
      tags:
        - Cart
      summary: Add Item To Cart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCartItem'
      responses:
        "200":
          description: Item Added

    put:
      tags:
        - Cart
      summary: Update Cart Item
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCartItem'
      responses:
        "200":
          description: Cart Updated

    delete:
      tags:
        - Cart
      summary: Remove Item From Cart
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Item Removed

  /orders:
    post:
      tags:
        - Orders
      summary: Create Order
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrder'
      responses:
        "201":
          description: Order Created

    get:
      tags:
        - Orders
      summary: Get Order History
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Orders Retrieved

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get Order Details
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Order Details

  /payment:
    post:
      tags:
        - Payments
      summary: Process Payment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        "200":
          description: Payment Successful

  /refund:
    post:
      tags:
        - Payments
      summary: Refund Payment
      security:
        - bearerAuth: []
      requestBody:
        required: true
      responses:
        "200":
          description: Refund Successful

  /payment/status/{paymentId}:
    get:
      tags:
        - Payments
      summary: Payment Status
      security:
        - bearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment Status

  /notifications:
    get:
      tags:
        - Notifications
      summary: Notification History
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Notifications Retrieved

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    LoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string

    RegisterRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string

    AddCartItem:
      type: object
      properties:
        productId:
          type: integer
        quantity:
          type: integer

    UpdateCartItem:
      type: object
      properties:
        productId:
          type: integer
        quantity:
          type: integer

    CreateOrder:
      type: object
      properties:
        addressId:
          type: integer
        paymentMethod:
          type: string

    PaymentRequest:
      type: object
      properties:
        orderId:
          type: integer
        amount:
          type: number
        currency:
          type: string